---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar';
import ContactSection from '../components/sections/Contact';
import Footer from '../components/layout/Footer';
import PageWrapper from '../components/layout/PageWrapper';
---

<Layout title="UKM Chip.Com - Kontak">
	<Navbar client:load />
	<PageWrapper client:load>
        <div class="pt-24 min-h-screen">
		    <ContactSection client:load />
        </div>
	</PageWrapper>
	<Footer client:load />
</Layout>
