---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar';
import VisionMission from '../components/sections/VisionMission';
import Footer from '../components/layout/Footer';
import PageWrapper from '../components/layout/PageWrapper';
---

<Layout title="UKM Chip.Com - Visi & Misi">
	<Navbar client:load />
	<PageWrapper client:load>
        <div class="pt-24 min-h-screen flex items-center">
		    <VisionMission client:load />
        </div>
	</PageWrapper>
	<Footer client:visible />
</Layout>
